* {
  box-sizing: border-box;
}

.CodeMirror {
  height: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-items: space-around;
  background-color: #f2f2f2;
}
.form-elem {
  display: flexbox;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 15px;
}

.latex-editor {
  display: grid;
  grid-template-areas: "input preview";
  grid-template-columns: 60% 40%;
  grid-column-gap: 15px;
}
.latex-editor-input {
  grid-area: input;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.latex-editor-preview {
  grid-area: preview;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
}

.form-label {
  padding-left: 20px;
  padding-right: 20px;
}

.remark-block {
  display : grid;
  grid-template-areas: "type label"
                       "body body";
  grid-template-columns: 45% 55%;
  grid-column-gap: 15px;
}
.remark-type {
  grid-area: type;
}
.remark-label {
  grid-area: label;
}
.remark-body {
  grid-area: body;
}
.remark-input {
  width: 100%
}

.list-editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list-editor-elem {
  display: grid;
  grid-template-areas: "body buttons";
  grid-template-columns: auto 25px;
  column-gap: 25px;
  border: 1px dashed #000;
  border-radius: 5px;
  padding: 15px;
}
.list-editor-content {
  grid-area: body;
}
.list-editor-buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-items: start;
}
.list-editor-remove-button {
  display: flexbox;
}
